<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>AI検出 - 動画異常検知</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <style></style>
</head>

<body>
  <div class="container">
    <form action="/shutdown" method="post" class="form-exit" onsubmit="return true;">
      <button type="submit" class="exit-btn">
        終了
      </button>
    </form>
    <h1>複数の動画比較</h1>
    <form id="uploadForm" action="/feature" method="POST" enctype="multipart/form-data">
      <label>動画FPS:</label>
      <input type="number" name="fps" accept="video/*" required />

      <label>1秒に処理されるフレーム数:</label>
      <input type="number" name="process_fps" accept="video/*" required />

      <label>画面遷移を判断するまでの待機時間 (ms):</label>
      <input type="number" name="threshold" accept="video/*" required />

      <label>元の動画:</label>
      <input type="file" name="video1" accept="video/*" required />

      <label>先の動画:</label>
      <input type="file" name="videos" accept="video/*" multiple required />

      <button type="submit" class="btn">AIで動画を解析</button>
    </form>
  </div>

  <div id="loading" class="loading-overlay">
    <div style="display: flex; align-items: center">
      <div class="spinner"></div>
      AIで動画を処理中です。少々お待ちください...
    </div>
  </div>

  <script>
    const form = document.getElementById("uploadForm");
    const loading = document.getElementById("loading");
    form.addEventListener("submit", () => {
      loading.style.display = "flex";
    });
  </script>
</body>

</html>