<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>AI映像検出システム - ホーム</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<style>
  .container {
    width: 450px;
  }

  .btn {
    width: 100%;
  }
</style>

<body>
  <div class="container">
    <form action="/shutdown" method="post" class="form-exit" onsubmit="return true;">
      <button type="submit" class="exit-btn">
        終了
      </button>
    </form>
    <h1>AI映像検出システム</h1>
    <p>実行する機能を選択してください。</p>

    <a href="/feature" class="btn">データ解析・レポート生成</a>

    <footer>© 2025 AI Detection System</footer>
  </div>
</body>

</html>